/*
CSS Rules
Syntax:  ;
selector {
	property:  value;
}
*/



/*h1 {
	color:  yellow !important;
}*/


/*1. UNIVERSAL SELECTOR (LOWEST)*/
/*Change the font of every element in HTML*/
*{
	font-family: "Courier New", monospace;
	font-size: 20px;
}
/*The "*" symbol is a "universal selector" and is used to target ALL elements*/
/*The "font-family" property changes the style of the font.*/
/*The value "Courier New"  is used as the primary font and the value when a browser is unable to use the primary font*/
/*The value "20px" refers to 20 pixels in size.*/


/*2. TYPE SELECTOR*/
body { background-color: skyblue; }

/*The "background-color" property changes the background color of an element*/

/*3. ATTTRIBUTE SELECTOR*/
/*The attribute selector only workss based on the exact attribute syntax provided in the HTML tag. It's also case sensitive*/

input[required] {
	border-width: 2px;
	border-style: solid;
	border-color: navy;
	width: 90%;
}

/*4. CLASS SELECTOR*/
/*The "class" attribute is used to target elements with similar styling. This is good approach to use for elements that have sumilar styles accross the whole application */


.offering-item {
	text-transform: uppercase;
}
/*
- The "text-transform" property changes font to a certain case
- The value "uppercase" changes text to all capitalized letters.
*/

/*5. ID Selector*/

#zuitt-motto {
	letter-spacing: 5px;
}
h3 + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

h2 ~ a, a{
	text-decoration: none;
}

body > section > form > label {
	color: rgb(0, 0, 128);
}


#bootcamp-learning-list {
	color: #075966;
}

html{
	scroll-behavior: smooth;
}


nav {
	background-color: white;
}

a:hover {
	background-color: #b4d6de;
}

div {
	display: inline-block;
	float: right;
}

section {
	height: 100vh;
	text-align: center;
}

h2 {
	font-size: 1.5rem;
}

ol {
	list-style-type: none;
}

form {
	text-align: center;
	background-color: white;
	border: 2px solid black;
	height: 185px;
	width: 25vw;
	position: relative;
	left: 37.25%;
}

button	{
	background-color: #cf0053;
	color: white;
	border: 0;
	border-radius: 15px;

}